<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/help.css" />
    <script src="main.js"></script>
</head>

<body>
    <form class="wrapper" action="{{url_for('thankyou')}}" method="POST">
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" name="name" placeholder="Name" />
                <input type="email" class="input" name="email-name" placeholder="Email Adress" />
                <input type="text" class="input" name="phone" placeholder="Phone Number" />
                <input type="text" class="input" name="subject" placeholder="Subject" />
            </div>
            <div class="msg">
                <textarea placeholder="Message" name="text-area"></textarea>
                <input class="btn" type="submit" name="submit" />
            </div>
        </div>
    </form>
</body>

</html>