.background {
    width: 100%;
    height: 100vh;
    background: url('/Images/sky.jpg') no-repeat top center;
    background-size: cover;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.logo-container {
    margin: 0;
}

.logo {
    background-color: aqua;
    left: 1%;
    width: 8%;
    border-radius: 50%;
    position: absolute;
}

.logo-text {
    top: -1%;
    left: 10%;
    position: absolute;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.3em;
    color: black;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(255, 255, 255, .3) */
}

.main-nav li {
    padding: 0 7%;
}

.nav a:hover {
    width: 7%;
    border-radius: 10px;
    color: white;
    background-color: rgba(227, 54, 105, 0.858);
}

.main-header {
    padding-bottom: 1%;
    padding-top: 1%;
}


/* ---------------- help body--------------- */

.wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: whitesmoke;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
    color: #fdb353;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #fdb353;
    padding: 10px;
    color: #fdb353;
    width: 100%;
}

.msg textarea {
    height: 212px;
}

.btn {
    background: #fc9207;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }
}