html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.logo-container {
    margin: 0;
}

.logo {
    background-color: aqua;
    left: 1%;
    width: 8%;
    border-radius: 50%;
    position: absolute;
}

.logo-text {
    top: -1%;
    left: 10%;
    position: absolute;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.3em;
    color: black;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(255, 255, 255, .3) */
}

.main-nav li {
    padding: 0 7%;
}

.nav a:hover {
    width: 7%;
    border-radius: 10px;
    color: white;
    background-color: rgba(227, 54, 105, 0.858);
}

.main-header {
    padding-bottom: 1%;
    padding-top: 1%;
}


/* -------------------slide group-------------  */

.frame {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slidegroup {
    width: 500%;
    height: 100%;
    animation: move 20s infinite forwards;
}

.slide {
    width: 20%;
    height: 100%;
    float: left;
}

.paragraph {
    background-color: rgba(0, 0, 0, 0.214);
    height: 100%;
}

.slide span {
    font-size: 2vw 2vh;
    font-weight: bold;
}

.slide i {
    font-size: 1.3vw 1.3vh;
}

.slide p {
    margin: auto;
    color: white;
    font-size: 4vw;
    padding-top: 10%;
    padding-left: 8%;
}

.img1 {
    background-image: url("/Images/cancun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img2 {
    background-image: url("/Images/Grece.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img3 {
    background-image: url("/Images/h2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img4 {
    background-image: url("/Images/Grece.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img5 {
    background-image: url("/Images/cancun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes move {
    0% {
        margin-left: 0%;
    }
    8.33%,
    25% {
        margin-left: -100%;
    }
    33.33%,
    50% {
        margin-left: -200%;
    }
    58.33%,
    75% {
        margin-left: -300%;
    }
    83.33%,
    100% {
        margin-left: -400%;
    }
}

.container-destination {
    width: 100%;
    margin-top: 2%;
}

.container-destination h3 {
    padding: 1%;
    margin: 3% 10% 3% 10%;
    background-color: lightcoral;
    text-align: center;
    font-size: 1.5vw;
}

.sub-destination {
    margin-left: 15%;
}

.sub-destination img:hover {
    border: 1px solid coral;
    width: 100%;
    border-radius: 25px;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.sub {
    width: 25%;
    display: inline-block;
    margin-left: 2%;
}

.sub img {
    border: 1px solid coral;
    width: 100%;
    border-radius: 25px;
}

.sub h4 {
    color: black;
    font-size: 1.7vw;
    font-family: cursive;
    margin: 3%;
}


/* ----------------footer --------------------- */

.container-footer {
    background-color: rgba(13, 7, 55, 0.94);
    width: 100%;
    margin-top: 5%;
}

.container-footer hr {
    height: 3px;
    background-color: white;
    border: none;
    margin: 2% 5% auto 5%;
}

.sub-footer {
    width: 100%;
    height: 30%;
    display: inline-flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer {
    font-family: sans-serif;
    font-size: 1vW;
    color: white;
    text-align: center;
    width: 15%;
    margin: auto auto auto 5%;
}

.social-media {
    color: white;
    font-size: 1vw;
    margin: 2% auto auto 64%;
    width: 34%;
    font-family: sans-serif;
}

.social-media img {
    display: flexbox;
    width: 12%;
    margin-left: 4%;
}

.footer-rights {
    color: white;
    font-family: sans-serif;
    font-size: 1vw;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 0.1%;
}

.footer-rights span {
    font-weight: bolder;
    font-size: 1.2vw;
}