html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('/Images/bluee.jpg') no-repeat top center;
    background-size: cover;
}
