<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/help.css" />
    <script src="/help.js"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo-container">
            <img class="logo" src="/Images/Logo.jpg" alt="logo" />
            <h1 class="logo-text">
                Star<br /> Airlines
            </h1>
        </div>
        <nav class="nav main-nav">
            <ul>
                <li><a href="/templates/index.html">HOME</a></li>
                <li><a href="/templates/ShopFlights.html">Shop Flights</a></li>
                <li><a href="/templates/help.html">Need Help?</a></li>
            </ul>
        </nav>
    </header>
    <div class="background">

        <div class="wrapper">
            <div class="contact-form">
                <div id="error_message"></div>
                <form class="input-fields" action="{{url_for('index')}}" method="POST">
                    <input type="text" class="input" name="name" id="name" placeholder="Name" required/>
                    <input type="email" class="input" name="email-name" id="email" placeholder="Email Adress" required/>
                    <input type="tel" class="input" name="phone" id="phone" placeholder="Phone Number" required/>
                    <input type="text" class="input" name="subject" id="subject" placeholder="Subject" required/>
                    <input class="btn" type="submit" name="submit" id="submit" onclick="validate();"> </input>
                    <div class="msg">
                        <textarea placeholder="Message" name="message" id="message"></textarea>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>