<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/help.css" />
    <script src="/help.js"></script>
</head>

<body>
    <!-- <form class="wrapper" action="{{url_for('index')}}" method="POST">
        <div class="contact-form">
            <div id="error_message"></div>
            <div class="input-fields">
                <input type="text" class="input" id="name" placeholder="Name" />
                <input type="email" class="input" id="email" name="email-name" placeholder="Email Adress" />
                <input type="text" class="input" id="phone" placeholder="Phone Number" />
                <input type="text" class="input" id="subject" placeholder="Subject" />
            </div>
            <div class="msg">
                <textarea placeholder="Message" id="message"></textarea>
                <input class="btn" type="submit" id="submit"> </input>
            </div>
        </div>
    </form> -->

    <div class="wrapper">
        <div class="contact-form">
            <div id="error_message"></div>
            <form class="input-fields" action="{{url_for('index')}}" method="POST">
                <input type="text" class="input" name="name" id="name" placeholder="Name" required/>
                <input type="email" class="input" name="email-name" id="email" placeholder="Email Adress" required/>
                <input type="tel" class="input" name="phone" id="phone" placeholder="Phone Number" required/>
                <input type="text" class="input" name="subject" id="subject" placeholder="Subject" required/>
                <input class="btn" type="submit" name="submit" id="submit" onclick="validate();"> </input>
                <div class="msg">
                    <textarea placeholder="Message" name="message" id="message"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>

</html>