<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/thanks.css" />
    <title>Thank you</title>
</head>
<body>
    <center>
        <header class="main-header"> 
            <div class="background">
        
        <h1 style="color: #89C4F4;">Thank You!</h1>
        <h2 style="color:#89C4F4;">Your form has been successfully submitted.</h2>
        <h2 style ="color:#89C4F4;">We will be in contact with you shortly.</h2>
        <h2><a style="color:white" href="/templates/index.html">Go Back</a></h2>
        </header>
        </div>
    </center>
</body>
</html>

